<div class="row">
        <div class="col-md-12">
              <div class="card">
                      <div class="card-header card-header-success">
                              <h3 class="card-title">Student's Performance</h3>
                              <p class="card-title">student wise daily performance</p>
                          </div>
                      <div class="card-body">
                        <div id="table" class="table-editable" style="max-height: 257px;overflow-y: scroll;">
                          <table class="table table-bordered table-responsive-md table-striped text-center" id="tblStudentData">
                              <tr>
                                  <th class="text-center">Roll Number</th>
                                  <th class="text-center">Student Name</th>
                                  <th class="text-center" (blur)="updateList(id, 'attendance', $event)" contenteditable="true">Attendance</th>
                                  <th class="text-center" (blur)="updateList(id, 'discipline', $event)" contenteditable="true">Discipline</th>
                                  <th class="text-center" (blur)="updateList(id, 'homework', $event)" contenteditable="true">HomeWork</th>
                              </tr>
                              <tr>
                                  <td>-</td>
                                  <td>-</td>
                                  <td>
                                      <!-- <mat-checkbox aria-label="Select All" [checked]="isChecked()" [indeterminate]="isIndeterminate()" (change)="$event ? toggleAll($event) : null"></mat-checkbox> -->
                                      <mat-checkbox  [(ngModel)]="attendancechecked" >Select All</mat-checkbox>
                                  </td>
                                  <td>
                                          <mat-checkbox  [(ngModel)]="disciplinechecked">Select All</mat-checkbox>
                                          <!-- <mat-checkbox (click)="$event.stopPropagation()"
                                          (change)="$event ? toggle(discipline, $event) : null"
                                          [checked]=""></mat-checkbox> -->
                                  <!-- <span contenteditable="true" (click)="updateList(id, 'attendance', $event)"><mat-checkbox>All</mat-checkbox></span> -->
                                  </td>
                                  <td>
                                          <mat-checkbox  [(ngModel)]="homeworkchecked">Select All</mat-checkbox>
                                  <!-- <span contenteditable="true" (click)="updateList(id, 'attendance', $event)"><mat-checkbox>All</mat-checkbox></span> -->
                                  </td>
                              </tr>
                              <tr *ngFor="let student of performanceList; let id = index" >
                                  <!-- <td *ng-if="index =0;then checkboxall else individual">

                                  </td> -->
                               
                                  <td [hidden]=true>{{student.StudentId}}</td>
                               
                                  <td>
                                  {{student.RollNumber}}
                                  </td>
                                  <td>
                                  {{student.StudentName}}
                                  </td>
                                  <td>                                            
                                        <mat-checkbox [checked]="checkedValue(student.Attendance,'attendance')" ></mat-checkbox>
                                  </td>
                                  <td>
                                        <mat-checkbox [checked]="checkedValue(student.Discipline,'discipline')"></mat-checkbox>
                                  </td>
                                  <td>
                                        <mat-checkbox [checked]="checkedValue(student.Homework,'homework')"></mat-checkbox>
                                  </td>
                              </tr>
                          </table>
                      </div>
                      <button mat-raised-button type="button" class="btn fa-pull-right" (click)="submitData()">Submit</button>
                  </div>
              </div>
        </div>
    </div>